#!/bin/bash

# {{ ansible_managed }}

set -euxo pipefail

unset VAGRANT_FORCE_COLOR

# Prune Vagrant invalid entries.
vagrant global-status --prune || echo $?

# Update Vagrant box images for /root/.vagrant.d.
export VAGRANT_HOME=/root/.vagrant.d
vagrant box add --provider {{ vagrant_default_provider }} {{ gitlab_runner_runners_vagrant_box }} || echo $?
vagrant box list --machine-readable | grep box-name | while read _LINE; do
    _BOX="$(echo $_LINE | cut -d, -f4"
    vagrant box add --provider {{ vagrant_default_provider }} $_BOX || echo $?
done
vagrant box prune --force --keep-active-boxes || echo $?
find $VAGRANT_HOME/boxes -type f -empty -exec rm -rf {} \; || echo $?
find $VAGRANT_HOME/boxes -type d -empty -exec rm -rf {} \; || echo $?
unset VAGRANT_HOME

# Update Vagrant box images for /home/vagrant/.vagrant.d.
export VAGRANT_HOME=/home/vagrant/.vagrant.d
vagrant box add --provider {{ vagrant_default_provider }} {{ gitlab_runner_runners_vagrant_box }} || echo $?
vagrant box list --machine-readable | grep box-name | while read _LINE; do
    _BOX="$(echo $_LINE | cut -d, -f4"
    vagrant box add --provider {{ vagrant_default_provider }} $_BOX || echo $?
done
vagrant box prune --force --keep-active-boxes || echo $?
find $VAGRANT_HOME/boxes -type f -empty -exec rm -rf {} \; || echo $?
find $VAGRANT_HOME/boxes -type d -empty -exec rm -rf {} \; || echo $?
unset VAGRANT_HOME

# Prune GitLab Runner cache older than 3 days.
find {{ gitlab_runner_runners_cache_dir }}/. ! -name . -type f -mtime +3 -delete || echo $?
find {{ gitlab_runner_runners_cache_dir }}/. ! -name . -type d -mtime +3 -delete || echo $?
