# {{ ansible_managed }}

[Unit]
Description=GitLab Runner
After=multi-user.target
Before=shutdown.target
Wants=multi-user.target shutdown.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
Restart=always
RestartSec=120
ExecStart=/usr/bin/gitlab-runner run --config /etc/gitlab-runner/config.toml

[Install]
WantedBy=multi-user.target
