---
# Copyright 2026 Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: include default variables
  ansible.builtin.include_vars: ../vars/main.yml

- name: include release specific variables
  ansible.builtin.include_vars: "{{ loop_var }}"
  loop: "{{ query('first_found', params) }}"
  loop_control:
    loop_var: loop_var
  vars:
    params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - ../vars
      skip: true

- name: include release specific tasks
  ansible.builtin.include_tasks: "{{ loop_var }}"
  loop: "{{ query('first_found', params) }}"
  loop_control:
    loop_var: loop_var
  vars:
    params:
      files:
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_distribution | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}-{{ ansible_distribution_major_version | lower }}.yml"
        - "{{ ansible_os_family | lower }}.yml"
      paths:
        - .
      skip: true

- name: prepare directories
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
    state: "{{ item.state | default('directory') }}"
  loop:
    - { dest: /etc/gitlab-runner }
    - { dest: /etc/systemd/system }
    - { dest: /opt/gitlab-runner/executors/vagrant }
    - { dest: "{{ gitlab_runner_runners_cache_dir }}", owner: "1000", group: "1000" }

- name: copy templates
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.src | default('./templates' + item.dest + '.j2') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - { dest: /etc/gitlab-runner/config.toml }
    - { dest: /etc/systemd/system/gitlab-runner.service }
    - { dest: /opt/gitlab-runner/executors/vagrant/cleanup.sh, mode: "0755" }
    - { dest: /opt/gitlab-runner/executors/vagrant/config.sh, mode: "0755" }
    - { dest: /opt/gitlab-runner/executors/vagrant/prepare.sh, mode: "0755" }
    - { dest: /opt/gitlab-runner/executors/vagrant/run.sh, mode: "0755" }
  notify:
    - gitlab_runner | systemctl daemon-reload
    - gitlab_runner | systemctl restart gitlab-runner.service

- name: prepare files
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
    state: "{{ item.state | default('file') }}"
  loop:
    - { dest: /etc/gitlab-runner/config.toml }
    - { dest: /etc/systemd/system/gitlab-runner.service }
    - { dest: /opt/gitlab-runner/executors/vagrant/cleanup.sh, mode: "0755" }
    - { dest: /opt/gitlab-runner/executors/vagrant/config.sh, mode: "0755" }
    - { dest: /opt/gitlab-runner/executors/vagrant/prepare.sh, mode: "0755" }
    - { dest: /opt/gitlab-runner/executors/vagrant/run.sh, mode: "0755" }
  notify:
    - gitlab_runner | systemctl daemon-reload
    - gitlab_runner | systemctl restart gitlab-runner.service

- name: prepare directories
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0755') }}"
    state: "{{ item.state | default('directory') }}"
  loop:
    - { dest: /etc/cron.daily }
  when: inventory_hostname == ansible_play_hosts[0]

- name: copy templates
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    src: "{{ item.src | default('./templates' + item.dest + '.j2') }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
  loop:
    - { dest: /etc/cron.daily/gitlab-runner, mode: "0755" }
  when: inventory_hostname == ansible_play_hosts[0]

- name: prepare files
  ansible.builtin.file:
    dest: "{{ item.dest }}"
    owner: "{{ item.owner | default('root') }}"
    group: "{{ item.group | default('root') }}"
    mode: "{{ item.mode | default('0644') }}"
    state: "{{ item.state | default('file') }}"
  loop:
    - { dest: /etc/cron.daily/gitlab-runner, mode: "0755" }
    - { dest: /etc/cron.hourly/gitlab-runner, state: absent }
  when: inventory_hostname == ansible_play_hosts[0]

- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: systemctl start gitlab-runner.service
  ansible.builtin.service:
    name: gitlab-runner.service
    state: started
    enabled: true
  changed_when: false
  failed_when: false
