# {{ ansible_managed }}

concurrent = {{ gitlab_runner_concurrent }}
check_interval = {{ gitlab_runner_check_interval }}

[session_server]
  session_timeout = 1800

[[runners]]
  executor = "custom"
  name = "{{ gitlab_runner_runners_name }}"
  url = "{{ gitlab_runner_runners_url }}"
  token = "{{ gitlab_runner_runners_token }}"
  builds_dir = "{{ gitlab_runner_runners_builds_dir }}"
  cache_dir = "{{ gitlab_runner_runners_cache_dir }}"
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  [runners.custom]
    config_exec = "{{ gitlab_runner_runners_custom_config_exec }}"
    prepare_exec = "{{ gitlab_runner_runners_custom_prepare_exec }}"
    run_exec = "{{ gitlab_runner_runners_custom_run_exec }}"
    cleanup_exec = "{{ gitlab_runner_runners_custom_cleanup_exec }}"
