#!/bin/bash

# {{ ansible_managed }}

# (c) Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set -ex

VM_HOSTNAME="${VM_HOSTNAME:-"runner-${CUSTOM_ENV_CI_RUNNER_ID}-project-${CUSTOM_ENV_CI_PROJECT_ID}-concurrent-${CUSTOM_ENV_CI_CONCURRENT_PROJECT_ID}"}"
echo ${VM_HOSTNAME} > VM_HOSTNAME

CI_JOB_URL="${CI_JOB_URL:-"${CUSTOM_ENV_CI_JOB_URL}"}"
echo ${CI_JOB_URL} > CI_JOB_URL

cat > Vagrantfile <<EOF
Vagrant.configure("2") do |config|
  config.vm.hostname = '${VM_HOSTNAME}'
  config.vm.box = '{{ gitlab_runner_runners_vagrant_image }}'
  
  config.vm.provider :libvirt do |libvirt|
    libvirt.cpu_mode = 'host-model'
    libvirt.cpus = {{ gitlab_runner_runners_vagrant_cpus }}
    libvirt.disk_bus = 'virtio'
    libvirt.driver = 'kvm'
    libvirt.management_network_address = '{{ gitlab_runner_runners_vagrant_management_network_address }}'
    libvirt.management_network_name = '{{ gitlab_runner_runners_vagrant_management_network_name }}'
    libvirt.memory = {{ gitlab_runner_runners_vagrant_memory }}
    libvirt.nested = {{ gitlab_runner_runners_vagrant_nested | bool | lower }}
    libvirt.nic_model_type = 'virtio'
    libvirt.storage :file, bus: 'virtio', cache: 'none'
    libvirt.video_type = 'virtio'
    libvirt.volume_cache = 'none'
  end

  config.vm.provision 'shell', inline: <<-SHELL
    apt-get update
    apt-get dist-upgrade -y
    apt-get install -y git git-lfs
    mkdir -p {{ gitlab_runner_runners_builds_dir }}
    chown -Rf vagrant:vagrant {{ gitlab_runner_runners_builds_dir }}
    mkdir -p {{ gitlab_runner_runners_cache_dir }}
    chown -Rf vagrant:vagrant {{ gitlab_runner_runners_cache_dir }}
    mkdir -p {{ gitlab_runner_runners_vagrant_boxes_dir }}
    chown -Rf vagrant:vagrant {{ gitlab_runner_runners_vagrant_boxes_dir }}
    exit 0
  SHELL

{% for synced_folder in gitlab_runner_runners_vagrant_synced_folders %}
  config.vm.synced_folder '{{ synced_folder.src }}', '{{ synced_folder.dest }}',
    disabled: {{ synced_folder.disabled | default(false) | bool | lower }},
    type: '{{ synced_folder.type | default('9p') }}'
{% endfor %}
end
EOF
